
# Reverse-engineered APK artifacts
*.zip
apk-tools/
binance-3-10-4.apk
binance-3-10-4.zip

# IDE / Editor configuration
.vscode/
.idea/

binance-apktool-decoded/
binance-extracted/
binance-jadx-sources/
